<template>
  <div>

  </div>
</template>

<script>
export default {
  name: "CollectionRow",
  props: {
    collection: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped></style>